<h1>Birthdater</h1>
<form action="/results" method="POST">
<label for="POST-birthday">Is it your birthday????</label>
<input id="POST-birthday" type="text" birthday="date">

<button type="submit" value="answer">Is it???</button>